/.cargo/config.toml
/.github
/.vscode
/object-storage-client
/helm
/target/debug
/target/release
/.env*
/config.json
/!config.json.example
/object-storage-dev.*
/object-storage-admin-service-account.json
/docker-compose.yaml
/values.yaml