/.vscode
/objects
/target
/.cargo/config.toml
/.env
/!.env.example
/config.json
/!config.json.example
/object-storage-dev.*
/object-storage-service-account.json
/values.yaml

# object-storage-client
/object-storage-client/.openapi-generator
/object-storage-client/.openapi-generator-ignore
/object-storage-client/.travis.yml
/object-storage-client/git_push.sh
/openapitools.json